.text-primary{
  color: $primary;
}
.text-secondary{
  color: $secondary;
}
.error,
.text-danger{
  color: $danger;
}
.text-success{
  color: $success;
}
.text-warning{
  color: $warning;
}
.text-muted{
  color: $muted;
}
.text-white{
  color: $white;
}

// gradients
.gradient-1{
  background-image: $gr-1;
}