.rouble {
  font-family: 'rouble';
}

// font-bold, font-semibold ...
.font {
  @each $name, $weight in $font-weight {
    &-#{$name} {
      font-weight: $weight;
    }
  }
}

// font-sm, font-base, font-h1, font-h2 ...
.font {
  @each $type, $size in $font-size {
    &-#{$type} {
      font-size: $size;
    }
  }
}

.link{
  display: flex;
  align-items: center;
  flex-direction: row;
  color: $body-color;
  &:hover{
    text-decoration: none;
    transition: all ease 0.25s;
    color: $link-hover-color;
    color: var(--custom-color);
  }
  .svg-icon{
    vertical-align: middle;
    margin-right: 12px;
    font-size: 10px;
    flex-shrink: 0;
    fill: $link-color;
    fill: var(--custom-color);
  }
  span{
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.link-app{
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0.05rem;
  margin-right: 2rem;
  margin-bottom: 0.5rem;
  @include media('<sm'){
    margin-right: 1rem;
  }
  ~ .link-app{
    &:last-child{
      margin-right: 0;
    }
  }

  &:hover{
    text-decoration: none;
  }
  .svg-icon{
    font-size: 40px;
  }
}

// stylelint-disable declaration-no-important

//
// Utilities for common `display` values
//

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .d#{$infix}-none         { display: none !important; }
    .d#{$infix}-inline       { display: inline !important; }
    .d#{$infix}-inline-block { display: inline-block !important; }
    .d#{$infix}-block        { display: block !important; }
    .d#{$infix}-table        { display: table !important; }
    .d#{$infix}-table-row    { display: table-row !important; }
    .d#{$infix}-table-cell   { display: table-cell !important; }
    .d#{$infix}-flex         { display: flex !important; }
    .d#{$infix}-inline-flex  { display: inline-flex !important; }
  }
}


//
// Utilities for toggling `display` in print
//

@media print {
  .d-print-none         { display: none !important; }
  .d-print-inline       { display: inline !important; }
  .d-print-inline-block { display: inline-block !important; }
  .d-print-block        { display: block !important; }
  .d-print-table        { display: table !important; }
  .d-print-table-row    { display: table-row !important; }
  .d-print-table-cell   { display: table-cell !important; }
  .d-print-flex         { display: flex !important; }
  .d-print-inline-flex  { display: inline-flex !important; }
}