.btn{
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  padding: 11px 40px;
  margin: 0;
  text-align: center;
  border-radius: 52px;
  border: 0;
  white-space: normal!important;
  word-wrap: break-word;
  user-select: none;
  touch-action: manipulation;
  cursor: pointer;
  transition: 0.2s ease-out;

  font-size: 20px;
  font-weight: font-weight(normal);
  color: #fff;
  @include media('<xs'){
    padding: 8px 30px;
    font-size: 16px;
  }
  &:focus,
  &:hover {
    text-decoration: none;
    outline: none;
    color: #fff;
  }
  &:hover{
    background-size: 200% auto;
    background-position: right center;
    transition: all .4s ease-in-out;
  }
  &:disabled{
    opacity: 0.65;
    cursor: default;
  }
}

.btn-primary{
  background-size: 100% auto;
  background-image: linear-gradient(to right, $btn-start 0%, $btn-end 100%);
  &:disabled{
    background-image: linear-gradient(to right, $gray-500 0%, $gray-400 100%);
  }
}