<section class="section">
  <div class="container-fluid">

    <div class="media mb-5">
      <div class="media__image animate-to-right">
          <img src="images/demo/order.jpg"
            srcset="images/demo/order@2x.jpg 2x"  
            srcset="images/demo/order@3x.jpg 3x"
            alt="Статус заявки">
      </div>
    </div>

    <div class="row">
      <div class="offset-lg-2 col-lg-8 text-center">
        <div class="animate-to-right">
            <p>Заполнив заявку на оформление карты, клиент получает логин и пароль для доступа в Личный Кабинет, где может отследить статус своей заявки и получить полную информацию о своих картах и счетах</p>
        </div>
      </div>
    </div>

    
  </div>
</section>