<section class="section">
  <div class="container-fluid">

    <div class="media">
      <div class="row no-gutters align-items-center">

        <div class="col-lg-6 col-xl-4">
          <div class="row no-gutters mb-4 mb-md-0">
            <div class="col-md-6 col-lg-12">

              <div class="mb-6 mr-md-5 mr-lg-0 animate-to-right">
                <h2>Преимущества</h2>
                <p>использования банковских продуктов сервиса Hive — конвертировать деньги в прибыть и эмоции</p>
              </div>

            </div>
            <div class="col-md-6 col-lg-12 text-center text-md-left">
              <div class="media__image animate-to-right">
                <img src="images/demo/sec-feature.png" srcset="images/demo/sec-feature@2x.png 2x" srcset="images/demo/sec-feature@3x.png 3x"
                  alt="Преимущества">
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-xl-8 text-center text-md-left">
          <div class="media__image animate-to-right">
            <img src="images/demo/sec-features.png" srcset="images/demo/sec-features@2x.png 2x" srcset="images/demo/sec-features@3x.png 3x"
              alt="Преимущества">
          </div>
        </div>

      </div>
    </div>

  </div>
</section>