<section class="section">
  <div class="container-fluid">

    <div class="media">

      <div class="media__image">
          <img src="images/demo/get-card.png" 
          srcset="images/demo/get-card@2x.png 2x" 
          srcset="images/demo/get-card@3x.png 3x" alt="Время получить карту">
      </div>

      <div class="row no-gutters">
        <div class="offset-lg-8 col-lg-4">
          <div class="box">

            <div class="box text-center">
              <div class="box__icon">
                <svg class="svg-icon icon-thumbsup"><use xlink:href="#thumbsup"></use></svg>
              </div>
              <div class="box__title">Заявка</div>
              <div class="box__desc">Заполните анкету на сайте. Это займет <br> не более 15 минут</div>
            </div>

            <div class="box text-center">
              <div class="box__icon">
                <svg class="svg-icon icon-callback"><use xlink:href="#callback"></use></svg>
              </div>
              <div class="box__title">Решение</div>
              <div class="box__desc">1-2 рабочих дня. На сайте можете <br>отслеживать статус заявки</div>
            </div>

            <div class="box text-center">
              <div class="box__icon">
                <svg class="svg-icon icon-gift"><use xlink:href="#gift"></use></svg>
              </div>
              <div class="box__title">Доставка</div>
              <div class="box__desc">Бесплатно доставим карту курьером <br>
                или получите её в офисе</div>
            </div>

          </div>
        </div> 

      </div>

    </div>


  </div>
</section>