<section class="section">
  <div class="container-fluid">

  <div class="media">

      <div class="media__image abs abs--right-5 text-right">
        <div class="animate-to-right">
            <img src="images/demo/lk.png" 
            srcset="images/demo/lk@2x.png 2x, images/demo/lk@3x.png 3x" alt="Личный кабинет">
        </div>
      </div>

      <div class="row no-gutters">
        <div class="offset-lg-8 col-lg-4">
          <div class="animate-to-right">
            <h2>Личный кабинет</h2>
            <p>Содержит полную информацию<br>о своих картах и счетах</p>
            <ul class="list mb-lg-8">
              <li>История операций</li>
              <li>Статистика финансовых операций</li>
              <li>Финансовый помощник</li>
              <li>Персональные предложения от банка</li>
              <li>Переводы и платежи</li>
              <li>Информация о тарифах</li>
            </ul>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>