<section class="section">
  <div class="container-fluid">

    <div class="row no-gutters mb-5 mb-lg-6">
      <div class="col-lg-4">
        <div class="animate-to-right">
          <h4 class="text-muted">Результат</h4>
        </div>
      </div>
      <div class="col-lg-8 ">
        <div class="animate-to-right">
          <p>Создан лендинг как в стандартной полноэкранной развертке, так и в адаптивных версия для различных устройств.</p>
          <p>На данном этапе развития сайта продолжается работа над контентом, увеличением конверсии посещений в заявки  на оформление.</p>
        </div>
      </div>
    </div>

    <div class="media">
      <div class="media__image text-center animate-to-top">
        <img src="images/demo/chrome.png" 
            srcset="images/demo/chrome@2x.png 2x, images/demo/chrome@3x.png 3x" alt="Hive">
      </div>
    </div>

  </div>
</section>