<section class="section">
  <div class="container-fluid">

    <div class="media">
      <div class="row no-gutters align-items-center">

        <div class="col-xl-4 pr-xl-5">
          <div class="row no-gutters mb-5 mb-xl-0">
            <div class="col-lg-6 col-xl-12">

              <div class="mb-4 mb-xl-5 mr-lg-5 mr-xl-0 animate-to-right">
                <h2>Преимущества</h2>
                <p>использования банковских продуктов сервиса Hive — конвертировать деньги в прибыть и эмоции</p>
              </div>

            </div>
            <div class="col-lg-6 col-xl-12 text-center text-lg-left">
              <div class="media__image animate-to-right">
                <img src="images/demo/sec-feature.png" srcset="images/demo/sec-feature@2x.png 2x, images/demo/sec-feature@3x.png 3x"
                  alt="Преимущества">
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-8 text-center text-md-left">

          <div class="row">
            <div class="col-md-6">
              <div class="card animate-to-right">
                <div class="card__icon">
                  <svg class="svg-icon icon-cart"><use xlink:href="#cart"></use></svg>
                </div>
                <div class="card__title">Совершайте покупки онлайн</div>
                <div class="card__desc">Безопасная оплата товаров в интернет-магазинах круглосуточно</div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card animate-to-right">
                <div class="card__icon">
                  <svg class="svg-icon icon-world-map"><use xlink:href="#world-map"></use></svg>
                </div>
                <div class="card__title">Рассчитывайтесь картой за границей</div>
                <div class="card__desc">Оплата без комиссии как на территории Ирана, так и за её пределами</div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card animate-to-right">
                <div class="card__icon">
                  <svg class="svg-icon icon-smartphone"><use xlink:href="#smartphone"></use></svg>
                </div>
                <div class="card__title">Используйте мобильный банк</div>
                <div class="card__desc">Мгновенные переводы между картами Икаробанка, детальные выписки</div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card animate-to-right">
                <div class="card__icon">
                  <svg class="svg-icon icon-coins"><use xlink:href="#coins"></use></svg>
                </div>
                <div class="card__title">Управляйте наличными средствами</div>
                <div class="card__desc">Снятие и пополнение наличных в 123 банкоматах по миру</div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</section>