<section class="section text-center">
    <div class="container-fluid">

      <h2><span class="animate-to-top">1 проект — 213 макетов</span></h2>
      <div class="mb-4">
        <div class="animate-to-right">
          <p>Команде Softlab удалось создать и протестировать макеты, <br>благодаря этому мы получили конверсию в 10% <br>
              на оформление продуктов</p>
        </div>
      </div>
      <div class="media">
        <div class="media__image animate-to-top">
          <img src="images/demo/sketch.png" 
              srcset="images/demo/sketch@2x.png 2x" 
              srcset="images/demo/sketch@3x.png 3x" alt="1 проект — 213 макетов">
        </div>
      </div>
    </div>
  </section>