<section class="section">
  <div class="container-fluid">
    <h1>
      <span class="animate-to-top">Landing page и Web-кабинет <br>
      для международного платежного сервиса Hive</span>
    </h1>

    <div class="row no-gutters mb-5 mb-lg-6">
      <div class="col-lg-4">
        <div class="animate-to-right">
          <h4 class="text-muted">Задача</h4>
        </div>
      </div>
      <div class="col-lg-8 ">
        <div class="animate-to-right">
          Разработать лендинг для продвижения банковских продуктов: карт, мобильного приложения и личного кабинета.
        </div>
      </div>
    </div>
    
  </div>
</section>