<div class="callback-form animate-to-right">
  <h3>Заполните бриф и отправьте нам для оценки работ</h3>


  <ul class="list-icon">
    <li>
      <a href="file.pdf">
        <svg class="list-icon__icon svg-icon icon-prototype"><use xlink:href="#prototype"></use></svg>
        <span class="list-icon__title">Скачать бриф (1мб)</span>
      </a>
    </li>
  </ul>

  <form action="" id="brief">
    <div class="form-group">
      <div class="text-field">
        <input id="b-name" type="text" name="name">
        <label for="b-name">Имя</label>
        <span class="form-group__bar"></span>
      </div>
    </div>
    <div class="form-group">
      <div class="text-field">
        <input id="b-email" type="text" name="email">
        <label for="b-email">E-mail</label>
        <span class="form-group__bar"></span>
      </div>
    </div>
    <div class="form-group">
      <div class="text-field">
        <input id="b-phone" class="tel" type="text" name="phone">
        <label for="b-phone">Телефон</label>
        <span class="form-group__bar"></span>
      </div>
    </div>

    <div class="form__group">
      <div class="text-field text-field--file">
        <div class="btn">
          <span>Прикрепить</span>
          <input type="file" name="file-1" id="file-1" class="file-input">
        </div>
        <label for="file-1" class="file-label">
          <input type="text" class="file-name" placeholder="Прикрепите файл" readonly>
          <span class="form-group__bar"></span>
        </label>
      </div>
    </div>

    <div class="form-group">
      <label class="checkbox" for="privacy">
        <input type="checkbox" class="checkbox__input" name="privacy" id="privacy">
        <span class="checkbox__label">Ознакомлен и согласен с политикой обработки персональных данных</span>
      </label>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Отправить</button>
    </div>
  </form>
</div>
<script>
    $(document).ready(function(){

      $("#brief").validate( {
        rules: {
          phone: {
            requiredphone: true,
            minlengthphone: true
          },
          name: {
            required: true
          },
          email: {
            required: true,
            email: true
          },
          privacy: "required",
        },
        messages: {
          phone:{
            required: "Укажите номер телефона"
          },
          name: {
            required: "Введите ваше имя"
          },
          email: "Введите корректный email адрес",
          privacy: "Примите соглашение"
        },
        errorElement: "span",
        errorPlacement: function ( error, element ) {
          error.addClass("form-text");
          if ( element.prop( "type" ) === "checkbox") {
            error.insertAfter( element.parent( ".checkbox" ) );
          }
          else if( element.prop("type") === "radio"){
            error.insertAfter( element.parent( ".radio" ) );
          } else {
            error.insertAfter( element.parent( ".text-field" ) );
          }
    
        },
        highlight: function ( element, errorClass, validClass ) {
          $( element ).parents( ".form-group" ).addClass( "has-error" ).removeClass( "has-success" );
        },
        unhighlight: function (element, errorClass, validClass) {
          $( element ).parents( ".form-group" ).addClass( "has-success" ).removeClass( "has-error" );
        },
      });
    });
  </script>