<div class="callback-form">
  <h3 class="text-primary">Заказать услуги Дизайна</h3>
  <form action="">
    <div class="form-group">
      <input id="f-name" type="text" name="name">
      <label for="f-name">Имя</label>
      <span class="form-group__bar"></span>
    </div>
    <div class="form-group">
      <input id="f-email" type="text" name="email">
      <label for="f-email">E-mail</label>
      <span class="form-group__bar"></span>
    </div>
    <div class="form-group">
      <input id="f-phone" type="text" name="phone">
      <label for="f-phone">Телефон</label>
      <span class="form-group__bar"></span>
    </div>
    <div class="form-group">
      <textarea name="message" id="f-message" cols="30" rows="1"></textarea>
      <label for="f-message">Сообщение</label>
      <span class="form-group__bar"></span>
    </div>
    <div class="form-group">
      
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Отправить</button>
    </div>
  </form>
</div>