<section class="carousel carousel--phones">
  <h2 class="carousel__title"><span class="animate-to-top">Создано более 100 экранов</span></h2>
  <div class="swiper-container js-phone-screens">
    <div class="carousel__mask">
      <svg class="svg-icon icon-iphone"><use xlink:href="#iphone"></use></svg>
    </div>
    <div class="swiper-wrapper">
        {% for item in phones %}
          <div class="carousel__item swiper-slide">
            <img  src="{{ item }}.png" 

                  alt="{{ page.title }}">

                  <!--                   srcset="{{ item }}@2x.png 2x"
                  srcset="{{ item }}@3x.png 3x"-->
          </div>
        {% endfor %}
      </div>
  </div>
</section>