<section class="carousel carousel--phones">
  <h2 class="carousel__title"><span class="animate-to-top">Создано более 100 экранов</span></h2>
  <div class="swiper-container js-phone-screens">
    <div class="carousel__mask">
      <svg class="svg-icon icon-iphone-x"><use xlink:href="#iphone-x"></use></svg>
    </div>
    <div class="swiper-wrapper">
        {% for item in phones %}
          <div class="carousel__item swiper-slide">
            <img  src="{{ item }}.png" 
                  srcset="{{ item }}@2x.png 2x"
                  srcset="{{ item }}@3x.png 3x"
                  alt="{{ page.title }}">
          </div>
        {% endfor %}
      </div>
  </div>
</section>