<section class="section">
  <h2 class="section__title"><span class="animate-to-top">{{ section.cases }}</span></h2>
  <div class="cases">
    {% for item in cases %}
    <div class="cases__item">

      <div class="case animate-to-right">
        <div class="case__tags tags">
          {% for tag in item.tags %}
            <a href="#" class="tags__item">{{ tag }}</a>
          {% endfor %}
        </div>
        <a href="#" class="case__link">
          <h4 class="case__title {{ item.titleClass }}">{{ item.title | safe }}</h4>
          <div class="case__picture" style="background-image: url('images/demo/{{ item.picture }}.jpg')"></div>
        </a>
      </div>

    </div>
    {% endfor %}
  </div>
</section>