<footer class="footer" role="contentinfo">
  <div class="container">
    <div class="footer-row">
      <div class="footer-cell">
          © 2018 Softlab <br>
          Все права защищены
      </div>
      <div class="footer-cell">
          г. Москва <br>
          ул. Беговая, д. 3, стр. 1
      </div>
      <div class="footer-cell">
          <a href="tel:+74957370679">+7 (495) 737-06-79</a> <br>
          <a href="mailto:info@softlab.ru">info@softlab.ru</a>
      </div>
    </div>
  </div>
</footer>
