<footer class="footer" role="contentinfo">
  {% include "templates/_lines.html" %}
  <div class="container">
    <div class="footer-row">
      <div class="footer-cell">
        <div class="animate-to-top">
          © 2018 Softlab <br>
          Все права защищены
        </div>
      </div>
      <div class="footer-cell">
        <div class="animate-to-top">
          г. Москва <br>
          ул. Беговая, д. 3, стр. 1
        </div>
      </div>
      <div class="footer-cell">
        <div class="d-flex animate-to-top">
          <p>
              <a href="tel:+74957370679" class="phone">+7 (495) 737-06-79</a> <br>
              <a href="mailto:info@softlab.ru" class="email">info@softlab.ru</a>
          </p>
          {% include './_social-link.html' %}
        </div>
      </div>
    </div>
  </div>
</footer>