<div class="pluses">
  <div class="container">
    <div class="plus-row">
      <div class="plus"></div>
      <div class="plus"></div>
      <div class="plus"></div>
      <div class="plus"></div>
    </div>
    <div class="plus-row">
      <div class="plus"></div>
      <div class="plus"></div>
      <div class="plus"></div>
      <div class="plus"></div>
    </div>
    <div class="plus-row">
      <div class="plus"></div>
      <div class="plus"></div>
      <div class="plus"></div>
      <div class="plus"></div>
    </div>
    <div class="plus-row">
      <div class="plus"></div>
      <div class="plus"></div>
      <div class="plus"></div>
      <div class="plus"></div>
    </div>
    <div class="plus-row">
      <div class="plus"></div>
      <div class="plus"></div>
      <div class="plus"></div>
      <div class="plus"></div>
    </div>
    <div class="plus-row">
      <div class="plus"></div>
      <div class="plus"></div>
      <div class="plus"></div>
      <div class="plus"></div>
    </div>
    <div class="plus-row">
      <div class="plus"></div>
      <div class="plus"></div>
      <div class="plus"></div>
      <div class="plus"></div>
    </div>
    <div class="plus-row">
      <div class="plus"></div>
      <div class="plus"></div>
      <div class="plus"></div>
      <div class="plus"></div>
    </div>
    <div class="plus-row">
      <div class="plus"></div>
      <div class="plus"></div>
      <div class="plus"></div>
      <div class="plus"></div>
    </div>
  </div>
</div>