<section class="section">
  <h2 class="section__title"><span class="animate-to-top">{{ section.services }}</span></h2>
  <div class="services">
    {% for item in services %}
    <div class="services__item">
      <div class="services__inner animate-to-right">
        <div class="services__icon js-animate-stroke-svg">
          {{ item.svg | safe }}
        </div>
        <h3 class="services__title">{{ item.title }}</h3>
        <div class="services__body">{{ item.body }}</div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>