<div class="swiper-container slider js-slider">
  {% include "./_lines.html" %}
  {% include "./_pluses4.html" %}
  <div class="swiper-wrapper">
    {% for item in slider %}
    <div class="swiper-slide {{ item.gradient }}" data-title="{{ item.data }}">
      {% if loop.index == 1 %}
        <div id="container"></div>
      {% endif %}
      <div class="slider__item">
        <div class="container">
          <div class="slider__title">
            {{ item.title | safe }}
          </div>
          <div class="js-slider-pagination swiper-pagination"></div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="slider-footer">
    <div class="container">
      <div class="js-slider-scroll slider-scroll">
        <svg class="svg-icon icon-mouse"><use xlink:href="#mouse"></use></svg>
      </div>
      {% include './_social-link.html' %}
    </div>
  </div>
</div>