<div class="swiper-container slider js-slider">
  {% include "./_lines.html" %}
  {% include "./_pluses4.html" %}
  <div class="swiper-wrapper">
    {% for item in slider %}
    <div class="swiper-slide" 
      {% if item.color %}
        style="background: {{ item.color }}"
      {% endif %}
      data-title="{{ item.data }}" data-theme="{{ item.theme }}">

      {% if item.canvas == true %}
        <div id="container"></div>
      {% endif %}

      <div class="slider__item video-{{ loop.index }}">

        {% if item.bg %}
          <div class="slider__bg">
            <div class="slider__picture-wrapper">
              <img class="slider__picture" src="{{ item.bg }}.png" srcset="{{ item.bg }}@2x.png 2x" alt="">
            </div>
          </div>
        {% endif %}

        {% if item.vimeoVideo %}
          <div id="vimeoVideo-{{ loop.index }}" class="js-bg-video player" data-property="{videoURL:'{{ item.vimeoVideo }}',containment:'.video-{{ loop.index }}', showControls:false, fadeTime:1000, autoPlay:false, loop:true, vol:20, mute:true, startAt:0, opacity:1, addRaster:true, stopMovieOnBlur: true}"></div>
          <script>
            $(document).ready(function(){
              var myPlayer = $("#vimeoVideo-{{ loop.index }}").vimeo_player({mobileFallbackImage:"/images/demo/video-fallback.jpg"});
            });
          </script>
        {%  endif %}

        <div class="container">
          <div class="slider__title">
            {{ item.title | safe }}
            {% if item.link %}
              <a href="{{ item.link }}" class="slider__link">
                <svg class="svg-icon icon-back"><use xlink:href="#back"></use></svg>
              </a>
            {% endif %}
          </div>
          <div class="js-slider-pagination swiper-pagination"></div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="slider-footer">
    <div class="container">
      <div class="slider-scroll" data-scrollTo="#mainContent">
        <svg class="svg-icon icon-mouse"><use xlink:href="#mouse"></use></svg>
      </div>
      {% include './_social-link.html' %}
    </div>
  </div>
</div>