<div class="swiper-container slider js-slider">
  {% include "./_lines.html" %}
  {% include "./_pluses4.html" %}
  <div class="swiper-wrapper">
    {% for item in slider %}
    <div class="swiper-slide" 
      data-title="{{ item.data }}"
      data-theme="{{ item.theme }}"
      {% if item.color %} style="background: {{ item.color }}"{% endif %}
    >
      {% if item.canvas == true %}
        <div id="container"></div>
      {% endif %}
      <div 
        class="slider__item"
        {% if item.video %} 
          id="video-{{ loop.index }}"
          data-vide-bg="mp4: {{ item.video }},
            webm: {{ item.video }},
            ogv: {{ item.video }},
            poster: {{ item.videoFallbackImage }}"
          data-vide-options="loop: true, muted: true"
        {% endif %}
        >

        {% if item.images %}
          <div class="slider__bg"
            data-swiper-screen-x="1903"
            data-swiper-screen-y="969">
            {% for picture in item.images %}
              <div class="sl"
                data-swiper-zIndex="{{ picture.zIndex }}"
                data-swiper-right="{{ picture.right }}"
                data-swiper-top="{{ picture.top }}"
                data-swiper-parallax-x="{{ picture.parallaxX }}" 
                data-swiper-parallax-y="{{ picture.parallaxY }}" 
                data-swiper-parallax-opacity="{{ picture.opacity }}"
                data-swiper-parallax-duration="{{ picture.duration }}">
                <img src="{{ picture.image }}.png" srcset="{{ picture.image }}@2x.png 2x" alt="">
              </div>
            {% endfor %}
          </div>
        {% endif %}

        <div class="container-fluid">
          <div class="slider__title" 
            data-swiper-parallax="-100"
            data-swiper-parallax-opacity="0"
            data-swiper-parallax-duration="600"
          >
            {{ item.title | safe }}
            {% if item.link %}
              <a href="{{ item.link }}"
                class="slider__link"
                data-swiper-parallax="-100"
                data-swiper-parallax-opacity="0"
                data-swiper-parallax-duration="600"
              >
                <svg class="svg-icon icon-back">
                  <use xlink:href="#back"></use>
                </svg>
              </a>
            {% endif %}
          </div>
          <div class="js-slider-pagination swiper-pagination" data-swiper-parallax-opacity="0"></div>
        </div>

      </div>
    </div>
    {% endfor %}
  </div>

  <div class="slider-footer">
    <div class="container-fluid">
      <div class="slider-scroll" data-scrollTo="#mainContent">
        <svg class="svg-icon icon-mouse">
          <use xlink:href="#mouse"></use>
        </svg>
      </div>
      {% include './_social-link.html' %}
    </div>
  </div>

</div>