<section class="section">
  <div class="container">
    <h2><span class="animate-to-top">Этапы создания</span></h2>
    <div class="stage">
      {% for item in stage %}
        <div class="stage__item">
          <div class="animate-to-right">
            <div class="stage__header">
              <div class="stage__icon animate-svg">
                {{ item.icon | safe }}
              </div>
              <div class="stage__name">
                <span class="stage__number">#{{ item.number }}</span>
                <h4 class="stage__title">{{ item.title }}</h4>
              </div>
              <div class="stage__decor">
                <div class="step">
                  <span class="step__item"></span>
                  <span class="step__item"></span>
                  <span class="step__item"></span>
                  <span class="step__item"></span>
                  <span class="step__item"></span>
                  <span class="step__item"></span>
                  <span class="step__item"></span>
                  <span class="step__item"></span>
                </div>
                {% if loop.index == 3 %}
                  <div class="step step--vertical">
                    <span class="step__item"></span>
                    <span class="step__item"></span>
                    <span class="step__item"></span>
                    <span class="step__item"></span>
                    <span class="step__item"></span>
                    <span class="step__item"></span>
                    <span class="step__item"></span>
                    <span class="step__item"></span>
                    <span class="step__item"></span>
                    <span class="step__item"></span>
                    <span class="step__item"></span>
                    <span class="step__item"></span>
                    <span class="step__item"></span>
                    <span class="step__item"></span>
                    <span class="step__item"></span>
                    <span class="step__item"></span>
                    <span class="step__item"></span>
                    <span class="step__item"></span>
                  </div>
                {% endif %}
              </div>
            </div>
            <div class="stage__desc">
              {{ item.desc }}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

  </div>
</section>