<div class="tabs">
  <ul class="tabs-nav">
    <li class="active"><a href="#tab1">Контакты</a></li>
    <li><a href="#tab2">Обратная связь</a></li>
  </ul>
  <div class="tab-content">
    <div id="tab1" class="tab-pane active">
      <div class="contacts">
        <div class="contacts__info">
          +7 495 678 88 99 <br>
          Россия, Москва, улица Беговая, д. 3, стр. 1<br>
          info@softlab.ru
        </div>
        <div class="contacts__map">

        </div>
      </div>

    </div>
    <div id="tab2" class="tab-pane">
      {% include './_callback2.html' %}
    </div>
  </div>
</div>