<section class="section work">
  <div class="container-fluid">
    <h2><span class="animate-to-top">Как начать работы?</span></h2>
    <div class="row">
      <div class="col">

        <div class="animate-to-right">
          <div class="lead">
            Имиджевые и продающие, информационные и многостраничные, адаптивные и кроссбраузерные, а так же очень удобные для клиентов и прибыльные для бизнеса.
          </div>
          <p>Секрет успешного сайта не только в красивой картинке. Перед началом работ определите цель создания сайта: предоставление информации, продажа товаров или рекламная кампания? Затем опишите чем ваш продукт или услуга отличается от предложений конкурентов.</p>
          <p>Вы знаете кто ваша целевая аудитория (ЦА), ее потребности? Необходимо учесть географию аудитории, возраст, пол и социальный статус. Мы собираем все данные о компании и аудитории, анализируем, группируем и строим пользовательские сценарии. Создаем прототипы сайта, заполняем их грамотным контентом и описываем функционал в техническом задании. Паралелльно идет работа над дизайн-концептом, базирующемся на фирменном стиле компании.</p>
          <p>Утвержденные типовые страницы прототипа оформляем в соответствии с дизайн-концепцией. Далее проект отправляется в верстку, а затем на программирование. Созданные в Софтлаб сайты отлично отображаются во всех современных браузерах на всех экранах смартфонов, планшетов, ноутбуков и компьютеров.</p>
        </div>

      </div>
      <div class="col">
        {% include './_brief.html' %}
      </div>
    </div>
  </div>
</section>