<!doctype html>
<html lang="ru" class="no-js">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }}{% else %}Template{% endif %}</title>
  <meta http-equiv="X-UA-compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="format-detection" content="telephone=no">
  {% include "templates/_favicon.html" %}
  {# {% include "templates/_media-tags.html" %} #}
  <link rel="icon" href="favicon.ico" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&amp;subset=cyrillic" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&amp;subset=cyrillic" rel="stylesheet">
  <link href="css/main.css?v1" rel="stylesheet" type="text/css">
  <script src="js/vendor.js?v1"></script>
  <script src="js/app.js?v1"></script>
</head>
<body class="{{ page.classes }}">
<!-- BEGIN page -->
<div class="page">
  {% include "templates/_header.html" %}
  {% block content %}{% endblock %}
  {% include "templates/_footer.html" %}
  {% include "templates/_popup.html" %}
</div>

<!-- END page -->
{# % include "templates/_preloader.html" % #}
<script>loadSVG('images/svg-sprite.svg', 1)</script>
</body>
</html>
