.animate-position-x{
  transform: translate(-100%, 0%);
}

// Покачивание вверх и вниз
@keyframes swing {
  0% {
    transform: translateY(-2px);
    animation-timing-function: ease-in;
  }

  50% {
    transform: translateY(2px);
    animation-timing-function: ease-out;
  }

  100% {
    transform: translateY(-2px);
  }
}