.animate-to-right,
.animate-to-top{
  display: block;
}

.animate-to-right{
  position: relative;
  p, h4, span, div, h2, h3, h1, h5, svg, ul, li, ol, b,
  img{
    opacity: 0;
  }
  &.animated{
    p, h4, span, div, h2, h3, h1, h5, svg, ul, ol, li, b,
    img{
      animation: textHidden 0.1s 1.1s forwards;
    }
    &:before, &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      z-index: 10;
    }
    &:before {
      background-color: $gray-200;
    }
    &:after {
      background-color: $gray-300;
      animation-delay: .5s;
    }
    // left ro right
    &:before {
      animation: revealLTR 1.8s ease;
    }
    &:after {
      animation: revealLTR 1s .6s ease;
    }
  }
}


@keyframes revealRTL {
  0%{
    width: 0;
    right: 0;
  }
  65%{
    width: 100%;
    right: 0;
  }
  100% {
    width: 0;
    right: 100%;
  }
}

@keyframes revealLTR {
  0%{
    width: 0;
    left: 0;
  }
  65%{
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes textHidden {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


// Покачивание вверх и вниз
@keyframes swing {
  0% {
    transform: translateY(-2px);
    animation-timing-function: ease-in;
  }

  50% {
    transform: translateY(2px);
    animation-timing-function: ease-out;
  }

  100% {
    transform: translateY(-2px);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes linesHeight {
  from {
    height: 0;
    animation-timing-function: easeOut;
  }

  to {
    height: 100%;
    animation-timing-function: easeOut;
  }
}

@keyframes loaderRotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes scale{
  to{
    font-size: 50em;
  }
}

@keyframes loaderCircle{
  0% {
    opacity: 0;
    width: 0;
    height: 0;
  }
  50% {
    opacity: 1;
    width: 150vw;
    height: 150vw;
  }
  100% {
    opacity: 1;
    width: 300vw;
    height: 300vw;
  }
}

@keyframes press {
  0% {
    box-shadow: 0 0 0 0 lighten($primary, 10%);
  }
  50% {
    box-shadow: 0 0 0 15px rgba( lighten($primary, 10%) , .35 );
  }
  100% {
    box-shadow: 0 0 0 15px rgba( lighten($primary, 10%) , 0 );
  }
}