.animate-to-right,
.animate-to-top{
  display: block;
}


// Покачивание вверх и вниз
@keyframes swing {
  0% {
    transform: translateY(-2px);
    animation-timing-function: ease-in;
  }

  50% {
    transform: translateY(2px);
    animation-timing-function: ease-out;
  }

  100% {
    transform: translateY(-2px);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes linesHeight {
  from {
    height: 0;
    animation-timing-function: easeOut;
  }

  to {
    height: 100%;
    animation-timing-function: easeOut;
  }
}

@keyframes loaderRotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}


