.block{
  display: flex;
  position: relative;
  flex-wrap: wrap;
  img{
    object-fit: contain;
  }
  &-col{

  }
  &-col-1{
    width: 33.33%;
    @include media('<lg'){
      width: 50%;
    }
    @include media('<xs'){
      width: 100%;
    }
  }
  &-col-2{
    width: 66.67%;
  }
  &-col-3{
    width: 100%;
  }
}