.breadcrumb{
  list-style: none;
  margin: 0;
  padding: 0;
}
.breadcrumb-item{
  display: inline-block;
  color: $gray-600;
  + .breadcrumb-item{
    padding-left: 0.5rem;
    &:before{
      display: inline-block;
      padding-right: .5rem;
      color: $gray-600;
      content: "/";
    }
  }
  &__link{
    transition: all ease 0.25s;
    color: $headings;
    color: var(--breadcrumbs-color);
    white-space: nowrap;
    &:hover{
      color: $light;
      text-decoration: none;
    }
    .svg-icon{
      vertical-align: middle;
      fill: $lighter;
      fill: var(--breadcrumbs-color);
      font-size: 15px;
      margin-right: 14px;
    }
  }
}