.color-1{

  $primary: $pink ;
  $primaryLight: $pink-light;
  $primaryAccent: $purple;
  $gradient: $gr-1;
  $gradientPlus: $gr-12;

  $btn-start: $periwinkle;
  $btn-end: $hot-pink;

  background-image: $gradient;
  // layout
  .page{
    &:before{
      content: "";
      height: 300px;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-image: $gradientPlus;
    }
  }
  // menu
  .menu-item{
    &__link{
      color: $primaryAccent;
    }
    &.active {
      >.menu-item__link {
        color: $primaryLight;
      }
    }
  }
  // slider
  .slider{
    &__title{
      a{
        color: $primaryLight;
      }
    }
  }
  .swiper-pagination-text{
    &.swiper-pagination-bullet-active{
      color: $primaryLight;
    }
  }
  // services
  .services__icon{
    fill: $primaryAccent;
  }
  .services__title{
    color: $primary;
  }
  // features
  .features__title{
    color: $primary;
  }
  // text
  .text-primary{
    color: $primary;
  }
  // form
  .checkbox__input{
    &:checked {
      ~ .checkbox__label {
        &:before {
          background-color: $primary;
        }
      }
    }
  }
  // animation
  @keyframes press {
    0% {
      box-shadow: 0 0 0 0 lighten($primary, 10%);
    }
    50% {
      box-shadow: 0 0 0 15px rgba( lighten($primary, 10%) , .35 );
    }
    100% {
      box-shadow: 0 0 0 15px rgba( lighten($primary, 10%) , 0 );
    }
  }
  // buttons
  .btn-primary{
    background-image: linear-gradient(to right, $btn-start 0%, $btn-end 100%);
  }
  // popup
  .popup{
    background-image: $gradient;
  }
  &.popup-open{
    .hlogo{
      &__circle-1{
        fill: $pink
      }
      &__circle-2{
        fill: $pink;
      }
      &__circle-3{
        fill: $pink
      }
    }
    .ilogo{
      &__text-1{
        fill: $headings;
      }
      &__text-2{
        fill:url(#logo-gradient);
      }
      &__text-3{
        fill: $headings;
      }
    }
  }
}