.counter{
  margin-bottom: 60px;
  @include media('<md'){
    margin-bottom: 40px;
  }
  @include media('<sm'){
    margin-bottom: 30px;
  }
  &__number{
    font-size: 80px;
    color: $headings;
    line-height: 1;
    margin-bottom: em(24px, 80px);
    @include media('<md'){
      font-size: 48px;
    }
  }
  &__desc{

  }
}