.footer{
  position: relative;
  margin-top: auto;
  background-color: $headings;
  color: $white;
  padding: 3rem 0;
  @include media('<xs'){
    padding: 10px 0;
  }
  @include media('<sm'){
    padding: 1rem 0;
  }
  @include media('<md'){
    padding: 1.5rem 0;
  }
  p{
    margin-bottom: 0; 
  }
  a{
    color: $light;
    &.phone{
      color: #fff;
    }
    &:hover{
      text-decoration: none;
      color: #fff;
    }
  }
}

.footer-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer-cell{
  overflow: hidden;
  width: 33.33%;
  @include media('<xs'){
    &:nth-child(3){
      p{
        display: none;
      }
      .social-link{
        margin-left: auto;
      }
    }
  }
  @include media('<md'){
    width: 30%;
    &:nth-child(3){
      width: 40%;
    }
  }
  @include media('<680px'){
    width: 50%;
    &:nth-child(2){
      display: none;
    }
    &:nth-child(3){
      width: 50%;
    }
  }
  .d-flex{
    justify-content: space-between;
    align-items: flex-start;
  }
}