.form-group{
  margin: 36px 0;
  padding: 0;
  position: relative;

  label {
    color: $body-color;
    line-height: $input-height-base;
  }

  input[type="color"],
  input[type="date"],
  input[type="email"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  textarea {
    display: block;
    border-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    border: none;
    outline: 0;
    width: 100%;
    height: $input-height-base;
    padding: $input-padding;
    margin: 0;
    transition-duration: 0.1s;
    resize: none;
    box-shadow: none;
    border-bottom: 1px solid $input-border-color;
    background: 0 0;

    ~ label {
      position: absolute;
      left: 0;
      bottom: 0;
      margin-bottom: auto;
      transition: all 0.25s ease-in-out;
      z-index: -1;
    }

    &:focus ~ label {
      color: $input-placeholder;
      bottom: 100%;
      font-size: 14px;
      line-height: 1;
    }

    &:focus ~ .form-group__bar:after,
    &:focus ~ .form-group__bar:before {
      width: 50%;
    }
  }

  textarea {
    overflow-y: hidden;
    resize: none;
    padding: $input-padding;
    height: auto;
    ~ label {

    }

    &:focus ~ label {
      bottom: 100%;
      margin-bottom: 0;
    }


  }

  // state
  &.active {
    label {
      color: $input-placeholder;
      bottom: 100% !important;
      font-size: 14px;
      line-height: 1;
    }
    textarea {
      ~ label {
        bottom: 100%;
      }
    }
  }
}

.form-group__bar{
  position: absolute;
  display: block;
  width: 100%;
  bottom: 0;
  &:before {
    left: 50%;
  }
  &:after {
    right: 50%;
  }
  &:after,
  &:before {
    content: "";
    height: 1px;
    width: 0;
    bottom: 0;
    position: absolute;
    background: $pink;
    transition: all 0.2s ease;
  }
}