.gallery{
  position: relative;
  &__row{
    flex-direction: row;
    display: flex;
    margin: 0 -10px;
    @include media('<xs'){
      flex-direction: column;
    }
    &:last-child{
      .gallery__item{
        margin-bottom: 0;
      }
    }
  }
  &__item{
    padding: 0 10px;
    margin-bottom: 20px;
    z-index: 1;
    img{
      object-fit: cover;
      @include media('<xs'){
        width: 100%;
      }
    }
  }
}