.hamburger{
  position: relative;
  display: inline-block;
  margin-left: auto;
  width: 24px;
  height: 24px;
  @include media('<xs'){
    width: 18px;
    height: 18px;
  }
  &:hover{
    &:before,
    &:after{
      width: 16px;
      @include media('<xs'){
        width: 12px;
      }
    }
    span{
      width: 24px;
      @include media('<xs'){
        width: 18px;
      }
    }
  }
  span{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 2px;
    background-color: #fff;
    border-radius: 2px;
    transition: width 0.3s ease-in-out;
    @include media('<xs'){
      width: 12px;
    }
  }
  &:before,
  &:after{
    position: absolute;
    right: 0;
    content: "";
    background-color: #fff;
    border-radius: 2px;
    height: 2px;
    width: 24px;
    transition: width 0.3s ease-in-out;
    @include media('<xs'){
      width: 18px;
    }
  }
  &:before{
    top: 0;
  }
  &:after{
    bottom: 0;
  }
}