.header--sticky{
  .header{
    position: fixed;
    padding: 0 20px;
    background-attachment: fixed;
    @include media('<xs'){
      padding: 0 10px;
    }
    .header__inner{
      background-color: #fff;
      box-shadow: 0 10px 30px -10px #d1dde6;
      height: 100px;
      align-items: center;
      @include media('<md'){
        height: 70px;
      }
      @include media('<xs'){
        height: 56px;
      }
    }
    .logo{
      display: none;
    }
    .hamburger{
      span,
      &:before,
      &:after{
        background-color: $light;
      }
    }
  }
  .page{
    background-attachment: fixed;
  }
}
.header {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  transition: padding 0.25s ease-in-out;
  &__inner{
    height: 140px;
    padding: 40px 0;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    transition: all 0.25s ease-in-out;
    @include media('<xs'){
      padding-top: 20px;
      padding-bottom: 20px;
    }
    .container{
      display: flex;
      align-items: center;
      width: 100%;
    }
  }
  .logo{

  }
}