html,
body{
  height: 100%;
}
body{
  // overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-attachment: fixed;
  // will-change: transform;
  @include media('<xs'){
    font-size: 14px;
  }
}
.page{
  position: relative;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  // height: 100%;
  min-height: 100vh;
  transition: all 0.25s ease;
  // will-change: transform;
  @include media('<xs'){
    padding: 0 10px;
  }
  &__title{
    font-weight: bold;
  }
}

.home{
  .main__content{
    @include media('>xlg'){
      padding-top: 170px;
    }
  }
}

.main{
  flex: 1;
  position: relative;
  &__content{
    position: relative;
    background-color: #fff;
    padding: 70px 0 40px 0;
    @include media('<xs'){
      padding-top: 20px;
    }
    @include media('<sm'){
      padding-bottom: 20px;
    }
    @include media('<lg'){
      padding-top: 40px;
    }
    .container{
      display: flex;
      flex-wrap: wrap;
      @include media('>lg'){
        flex-direction: row;
      }
    }
  }
}

.content{
  flex: 1;
  width: 100%;
  @include media('>lg'){
    width: 66.67%;
  }
}
.sidebar{
  width: 100%;
  @include media('>lg'){
    width: 33.33%;
  } 
}

.container{
  margin: 0 auto;
  width: 100%;
  max-width: $container-max-width;
  padding: 0 20px;
}