.lines {
  pointer-events: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 0;
  padding: 0 20px;
  overflow: hidden;
  .container{
    height: 100%;
    position: static;
    display: flex;
    justify-content: space-between;
  }
}
.line{
  width: 1px;
  height: 100%;
  background-color: rgba(255, 255, 255,.2);
  position: relative;
  &:before,
  &:after{
    content:"";
    position: absolute;
    opacity: .3;
    height: 100%;
    z-index: 1;
    background-attachment: fixed;
  }
  &:before{
    background-position: 0 40px;
    left: -3px;
    width: 7px;
    background-image: repeating-linear-gradient(180deg,#fff,#fff 1px,transparent 1px,transparent 300px);
  }
  &:after{
    background-position: 0 37px;
    left: 0;
    width: 1px;
    background-image: repeating-linear-gradient(180deg, #fff,#fff 7px,transparent 1px,transparent 300px);
  }
}

.main{
  .lines{
    position: absolute;
    padding: 0;
  }
  .line{
    background-color: rgba(175, 195, 211,.2);
    &:before{
      background-image: repeating-linear-gradient(180deg,#afc3d3,#afc3d3 1px,transparent 1px,transparent 300px);
    }
    &:after{
      background-image: repeating-linear-gradient(180deg, #afc3d3,#afc3d3 7px,transparent 1px,transparent 300px);
    }
  }
}