.lines {
  // mix-blend-mode: difference;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  // padding: 0 20px;
  will-change: transform;
  .container{
    height: 100%;
    position: static;
    display: flex;
    justify-content: space-between;
  }
}
.line{
  width: 1px;
  height: 100%;
  background-color: rgba(255, 255, 255,.2);
  position: relative;
  &:nth-child(1){
    @include media('<md'){
      opacity: 0;
    }
  }
  &:nth-child(3){
    @include media('<md'){
      opacity: 0;
    }
  }
  &:nth-child(4){
    @include media('<lg'){
      display: none;
    }
  }
}


.pluses {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 0;
  padding: 0;
  will-change: transform;
  height: 100%;
  z-index: -1;
  > .container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
  }
}
.plus-row {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 40px;
  margin-bottom: 40px;
}

.plus{
  width: 1px;
  height: 7px;
  top: 50%;
  transform: translateY(-50%);
  transition: .5s;
  opacity: 0.3;
  &:before,
  &:after{
    content: "";
    position: absolute;
    background-color: #fff
  }
  &:before {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1px;
    height: 7px;
  }
  &:after {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 1px;
    width: 7px;
    margin-left: -3px;
  }
  &:nth-child(1){
    @include media('<md'){
      opacity: 0;
    }
  }
  &:nth-child(3){
    @include media('<md'){
      opacity: 0;
    }
  }
  &:nth-child(4){
    @include media('<lg'){
      display: none;
    }
  }
}


.main__content{
  .line{
    padding: 0;
    background-color: rgba(175, 195, 211,.2);
  }
  .plus{
    &:before,
    &:after{
      background-color: #afc3d3
    }
  }
}
.popup{
  .line{
    padding: 0;
    background-color: rgba(175, 195, 211,.2);
    &:nth-child(1){
      @include media('<md'){
        opacity: 0;
      }
    }
    &:nth-child(3){
      @include media('<md'){
        opacity: 0;
      }
    }
    &:nth-child(4){
      @include media('<lg'){
        display: block;
      }
      @include media('<md'){
        display: none;
      }
    }
  }
  .plus{
    &:before,
    &:after{
      background-color: #afc3d3
    }
    &:nth-child(1){
      @include media('<md'){
        opacity: 0;
      }
    }
    &:nth-child(3){
      @include media('<md'){
        opacity: 0;
      }
    }
    &:nth-child(4){
      @include media('<lg'){
        display: block;
      }
      @include media('<md'){
        display: none;
      }
    }
  }
}
.intro{
  .line{
    background-color: rgba(255, 255, 255, 1);
  }
  .pluses{
    z-index: 0;
  }
  .plus{
    opacity: 1;
    &:before,
    &:after{
      background-color: #fff
    }
  }
}