.list-about{
  margin: 0;
  padding: 0;
  list-style: none;
  @include media('<sm'){
    margin-bottom: 2rem;
  }
  li{
    line-height: line-height(sm);
    font-size: 1.625rem;
    color: $headings;
    margin-bottom: em(40px, 26px);
    @include media('<sm'){
      font-size: 1.5rem;
      margin-bottom: em(10px);
    }
    @include media('<xs'){
      font-size: 1.125rem;
    }
  }
}

.list-icon{
  margin: 0;
  padding: 0;
  list-style: none;
  li{
    a{
      &:hover{
        text-decoration: none;
      }
    }
  }
  &__icon{
    display: inline-block;
    vertical-align: middle;
    vertical-align: -webkit-baseline-middle;
    margin-right: 1rem;
    font-size: 25px;
  }
  &__title{
    display: inline-block;
    vertical-align: middle;
    vertical-align: -webkit-baseline-middle;
  }
}

// list
.list{
  list-style: none;
  padding-left: 46px;
  @include media('<sm'){
    padding-left: 32px;
  }
  li{
    position: relative;
    font-size: 1.125rem;
    padding: em(12px, 18px) 0;
    @include media('<sm'){
      padding: em(8px, 18px) 0;
    }
    &:before{
      content: "";
      position: absolute;
      left: - em(46px, 18px);
      top: em(24px, 18px);
      display: block;
      width: em(10px, 18px);
      height: em(10px, 18px);
      background-color: $primary;
      background-color: var(--custom-color);
      border-radius: 10px;
      @include media('<sm'){
        top: em(20px, 18px);
        left: - em(32px, 18px);
      }
    }
  }
}