.logo{
  line-height: 0;
  display: inline-block;
  vertical-align: middle;
}

// logo only circle
.icon-logo-circle {
  height: 1em;
  width: 1.015625em;
  fill: $pink;
  &__1 {
    // fill: $pink;
  }
  &__2 {
    // fill: $pink;
  }
  &__3 {
    // fill: $pink;
  }
}

.icon-logo{
  &__1{
    fill: $headings;
  }
  &__2{
    fill: $pink;
  }
  &__3{
    fill: $headings;
  }
  &__4{
    fill: $headings;
  }
}