.home{
  .main__content{
    @include media('>xlg'){
      padding-top: 170px;
    }
  }
  .main{
    padding-top: 0;
  }
}

.intro + .main__content{
  padding-top: 2rem;
}
.main{
  flex: 1;
  position: relative;
  padding-top: 100px;
  @include media('<md'){
    padding-top: 70px;
  }
  @include media('<xs'){
    padding-top: 56px;
  }
  &__content{
    overflow: hidden;
    z-index: 1;
    position: relative;
    background-color: #fff;
    padding: 70px 0 40px 0;
    @include media('<md'){
      // padding-top: 40px;
    }
    @include media('<sm'){
      padding-bottom: 20px;
    }
    @include media('<xs'){
      // padding-top: 20px;
    }
    > .container-fluid{
      // display: flex;
      // flex-wrap: wrap;
      @include media('>lg'){
        // flex-direction: row;
      }
    }
  }
  &__title{
    margin-top: 1em;
    margin-bottom: 1em;
  }
}