.home{
  .main__content{
    @include media('>xlg'){
      padding-top: 170px;
    }
  }
  .main{
    padding-top: 0;
  }
}

.main{
  flex: 1;
  position: relative;
  padding-top: 100px;
  &__content{
    z-index: 1;
    position: relative;
    background-color: #fff;
    padding: 70px 0 40px 0;
    @include media('<xs'){
      // padding-top: 20px;
    }
    @include media('<sm'){
      padding-bottom: 20px;
    }
    @include media('<lg'){
      // padding-top: 40px;
    }
    > .container-fluid{
      // display: flex;
      // flex-wrap: wrap;
      @include media('>lg'){
        // flex-direction: row;
      }
    }
  }
}