.media{
  &--bg{
    background-size: contain;
    background-position: 0 center;
    background-repeat: no-repeat;
  }
  // image
  &__image{
    // padding-right: 2rem;
    @include media('<sm'){
      // padding-right: 0;
    }
    img{
      object-fit: contain;
      @include media('<sm'){
        max-height: 80vh;
      }
    }
    &.mr-20{
      margin-right: -20%;
      @include media('<lg'){

      }
      @include media('<sm'){
        margin-right: 0; 
      }
    }
    &.ml-20{
      margin-left: -20%;
      @include media('<lg'){

      }
      @include media('<sm'){
        margin-left: 0; 
      }
    }
  }
  // text
  &__text{
    &.text-center{
      padding: 0 20px;
    }
  }
}