.header--sticky{
  .menu{
    display: block;
    @include media('<sm'){
      display: none;
    }
  }
}

.popup{
  .menu{
    display: none;
    margin-bottom: 2rem;
    @include media('<sm'){
      display: block;
    }
  }
  .menu-item{
    display: block;
    margin-right: 0;
    &__link{
      padding: 10px 0;
    }
  }
}

.menu {
  display: none;
  &__inner {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.menu-item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 2rem;
  @include media('<xs'){
    margin-right: 1.25rem;
  }
  &.active {
    >.menu-item__link {
      color: $link-color;
      text-decoration: none;
    }
  }

  &__link {
    // font-family: $font-family-headings;
    color: $headings;
    font-size: 1rem;
    padding: 0.5rem 0;
    border-radius: 2px;
    display: block;
    @include media('<md'){
      font-size: 1rem;
    }
  }
}