// page
.page{
  position: relative;
  padding: 0;
  display: flex;
  flex-direction: column;
  // height: 100%;
  // min-height: 100vh;
  transition: all 0.25s ease;
  // will-change: transform;
  @include media('<xs'){
    padding: 0;
  }
  &__title{
    font-weight: bold;
  }
}

// page intro
.page-intro{
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  position: relative;
  padding-top: 100px;
  &__bg{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}