.popup{
  padding: 20px;
  background-image: $gr-1;
  // opacity: 0;
  // transition: all ease 0.25s;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  display: none;
  // overflow: auto;

  @include media('<xs'){
    padding: 10px;
  }
  &.show{
    overflow: auto;
    display: block;
  }
  &__inner{
    overflow: hidden;
    position: relative;
    transform-origin: left center;

    background-color: #fff;
    min-height: 100%;
    padding: 38px 0 30px;
    display: flex;
    flex-direction: column;
    // overflow: auto;
    @include media('<xs'){
      padding-top: 30px;
    }
    .container-fluid{
      position: relative;
    }
  }
  &__header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 30px;
    align-items: center;
    position: relative;
    .logo{
      font-size: 30px;
      @include media('<xs'){
        font-size: 28px;
      }
    }
  }
  &__close{
    fill: $close;
    transition: fill ease 0.25s;
    background: none;
    border: 0;
    padding: 0;
    margin: 0;
    cursor: pointer;
    font-size: 1.25rem;
    line-height: 0;
    position: absolute;
    right: 20px;
    outline: none;
    top: -12px;
    &:focus{
      outline: none;
    }
    &:hover{
      fill: $body-color;
    }
  }
  &__body{
    flex: 1;
    padding-top: 9rem;
    @include media('<xlg'){
      padding-top: 6rem;
    }
    @include media('<lg'){
      padding-top: 4rem;
    }
    @include media('<md'){
      padding-top: 2rem;
    }
    @include media('<sm'){
      padding-top: 3rem;
    }
    @include media('<xs'){
      padding-top: 1.625rem;
    }
    h3{
      @include media('<md'){
        // margin-bottom: 0.175rem;
      }
    }
  }
  &__content{
    padding-right: 2rem;
    margin-bottom: 6rem;
    @include media('<lg'){
      margin-bottom: 4rem;
    }
    @include media('<md'){
      padding-right: 0;
      margin-bottom: 3rem;
    }
    @include media('<sm'){
      display: none;
      margin-bottom: 2rem;
    }
  }
  &__footer{
    flex: 0;
    margin-top: auto;
    text-align: right;
    padding-top: 1rem;
  }
  .features{
    @include media('<sm'){
      display: none;
    }
  }
}

// body
.popup-open{
  overflow: hidden;
  .popup__inner{
    transform-origin: right center;
  }
}

.header--sticky{
  .popup__close{
    top: -16px;
  }
}