.preloader{
  align-items: center;
  // cursor: none;
  display: flex;
  height: 100%;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 900; 
  background-color: #fff;
  &:before{
    content: '';
    position: fixed;
    background-color: $primary;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    // transform: translate3d(50%, 50%);
    transform-origin: 50% 50%;
    animation-delay: 2s;
    animation-name: loaderCircle;
    animation-duration: 2.5s;
    animation-timing-function: ease-out;
    // animation-iteration-count: infinite;
  }
  .line{
    background-color: hsla(0,0%,100%,.2);
    height: 0;
    animation-delay: 2.5s;
    animation-name: linesHeight;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }
  .plus{
    &:before,
    &:after{
      background-color: rgba(255,255,255,0.5);
    }
  }
}

.loader{
  // position: relative;
  font-size: 10em;
  line-height: 0;
  
  transform-origin: 50% 50%;
  animation-delay: 2s;
  animation-name: scale;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  // animation-iteration-count: infinite;
  .icon-logo-circle__1{
    animation-direction: alternate-reverse;
    transform-origin: 50% 50%;
    animation: loaderRotate 2s linear infinite;
  }
  .icon-logo-circle__2{
    animation-direction: alternate;
    transform-origin: 50% 50%;
    animation: loaderRotate 4s linear infinite;
  }
  .icon-logo-circle__3{
    animation-direction: alternate-reverse;
    transform-origin: 50% 50%;
    animation: loaderRotate 6s linear infinite;
  }
}