.section{
  padding: 50px 0;
  // overflow: hidden;
  @include media('<lg'){
    padding: 30px 0;
  }
  @include media('<xs'){
    padding: 20px 0;
  }
  &__title{
    margin-bottom: 40px;
    @include media('<sm'){
      margin-bottom: 30px;
    }
  }
  &.bg-color{
    background-color: var(--custom-color);
  }
  &.text-color{
    color: var(--section-text-color);
    h1, h2, h3, h4, h5, h6,
    .h1, .h2, .h3, .h5, .h6{
      color: var(--section-text-color);
    }
  }
  &.bg-image{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 6rem 0 2rem;
    margin-bottom: 2rem;
    @include media('<md'){
      padding: 4rem 0 1rem;
    }
    @include media('<sm'){
      padding-top: 3rem;
    }
  }
  // stages
  &.stages{
    .section__title{
      margin-bottom: 60px;
      @include media('<lg'){
        margin-bottom: 40px;
      }
      @include media('<sm'){
        margin-bottom: 30px;
      }
    }
  }
  // about
  &.about{
    padding-top: 0;
    .list-about{
      margin-right: 4rem;
    }
    .lead{
      margin-bottom: em(60px, 20px);
      @include media('<lg'){
        margin-bottom: em(30px, 20px);
      }
    }
    @include media('<lg'){
      .award{
        margin-top: 2rem;
      }
    }
    @include media('<sm'){

    }
  }
  // WORK
  &.work{
    padding-top: 0;
    .section__box{
      padding-right: 80px;
      @include media('<lg'){
        margin-bottom: 60px;
        padding-right: 0;
      }
    }
  }
}