.section{
  padding: 50px 0;
  // overflow: hidden;
  @include media('<lg'){
    padding: 30px 0;
  }
  @include media('<md'){
    padding: 20px 0;
  }
  // INTRO
  &.intro{
    padding-top: 0;
    .lead{
      margin-bottom: em(60px, 20px);
      @include media('<sm'){
        margin-bottom: em(30px, 20px);
      }
    }
    @include media('<lg'){
      .row{
        flex-wrap: wrap;
      }
      .col{
        flex-basis: 50%;
        width: 50%;
        &:nth-child(3){
          width: 100%;
          padding-right: 0;
        }
      }
      .award{
        margin-top: 2rem;
      }
    }
    @include media('<sm'){
      .row{
        flex-direction: column;
      }
      .col{
        flex-basis: 100%;
        width: 100%;
      }
    }
  }
  // WORK
  &.work{
    padding-top: 0;
    .row{
      flex-direction: column;
      @include media('>lg'){
        flex-direction: row;
      }
    }
    .col{
      margin-bottom: 60px;
      @include media('>lg'){
        margin-bottom: 0;
        flex-basis: 33.33%;
        width: 33.33%;
        &:first-child{
          flex: 1;
          flex-basis: 66.67%;
          width: 66.67%;
          padding-right: 80px;
        }
      }
    }
  }
}