.services{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  &__item{
    flex-basis: 50%;
    width: 50%;
    padding-right: 3.75rem;
    margin-bottom: 4rem;
  }
  &__icon{
    width: 52px;
    height: 52px;
    line-height: 0;
    margin-bottom: 1.25rem;
    .svg-icon{
      width: 100%;
      height: 100%;
    }
  }
  &__title{
    color: $pink;
    font-weight: font-weight(normal);
    margin-bottom: 1rem;
  }
  &__body{
    line-height: line-height(lg);
  }
}