.slider{
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  position: relative;
  &__item{
    display: flex;
    height: 100%;
    align-items: center;
  }
  &__title{
    font-size: em(90px);
    line-height: 1;
    color: #fff;
    font-weight: font-weight(medium);
    margin-bottom: em(64px,90px);
    @media (max-height: 767px) and (min-width: 768px){
      font-size: em(70px);
    }
    @media (max-height: 576px){
      font-size: em(40px);
    }
    @media(min-height: 768px) and (min-width: 768px) and (max-width: 1200px){
      font-size: em(70px);
    }
    @media(min-height: 768px) and (max-width: 767px),
          (max-height: 768px) and (max-width: 767px),
          (max-height: 576px) and (max-width:767px){
      font-size: em(40px);
    }
    a{
      display: inline-block;
      border-bottom: em(6px,90px) solid;
      &:hover{
        text-decoration: none;
      }
    }
  }
}

.slider-footer{
  position: absolute;
  bottom: 0;
  z-index: 1;
  left: 0;
  right: 0;
  padding-bottom: 30px;
  .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .social-link{
    float: right;
  }
}
.slider-scroll{
  fill: #fff;
  font-size: 28px;
  animation-name: swing;
  animation-duration: .8s;
  animation-iteration-count: infinite;
  cursor: pointer;
}

// pagination
.swiper-container-horizontal>.swiper-pagination-bullets{
  .swiper-pagination-bullet{
    @include media('>xs'){
      margin-left: 0;
      margin-right: em(30px,20px);
    }
  }
}
.swiper-pagination-bullet{
  @include media('>xs'){
    border: none;
    width: auto;
    height: auto;
    border-radius: 0;
    opacity: 1;
    background:none;
    color: #fff;
    font-size: 1.25rem;
    margin-right: em(30px,20px);
    &.swiper-pagination-bullet-active{
      background: none;
    }
  }
  @include media('<xs'){
    span{
      display: none;
    }
  }
}