$sliderZIndex_1: 1 !default;
$sliderZIndex_2: 2 !default;
$sliderZIndex_3: 3 !default;

.slider{
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  position: relative;
  .lines,
  .pluses{
    z-index: $sliderZIndex_1;
  }
  &__item{
    position: relative;
    display: flex;
    height: 100%;
    align-items: center;
    z-index: $sliderZIndex_2;
  }
  &__title{
    font-size: em(80px);
    line-height: 1;
    color: #fff;
    font-weight: font-weight(medium);
    margin-bottom: em(38px,90px);
    @media (max-height: 767px) and (min-width: 768px){
      font-size: em(60px);
    }
    @media (max-height: 576px){
      font-size: em(40px);
    }
    @media(min-height: 768px) and (min-width: 768px) and (max-width: 1200px){
      font-size: em(60px);
    }
    @media(min-height: 768px) and (max-width: 767px),
          (max-height: 768px) and (max-width: 767px),
          (max-height: 576px) and (max-width:767px){
      font-size: em(40px);
    }
    a{
      display: inline-block;
      border-bottom: em(6px,90px) solid;
      &:hover{
        text-decoration: none;
      }
    }
  }

  // pagination
  .swiper-container-horizontal>.swiper-pagination-bullets{
    .swiper-pagination-bullet{
      @include media('>xs'){
        margin-left: 0;
        margin-right: em(30px,20px);
      }
    }
  }
  .swiper-pagination-bullet{
    @include media('>xs'){
      border: none;
      width: auto;
      height: auto;
      border-radius: 0;
      opacity: 1;
      background:none;
      color: #fff;
      font-size: 1rem;
      margin-right: em(40px);
      &.swiper-pagination-bullet-active{
        color: $pink-light;
        background: none;
      }
    }
    @include media('<xs'){
      span{
        display: none;
      }
    }
  }

}

.slider-footer{
  position: absolute;
  bottom: 0;
  z-index: $sliderZIndex_1;
  left: 0;
  right: 0;
  padding-bottom: 30px;
  .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .social-link{
    float: right;
  }
}
.slider-scroll{
  fill: #fff;
  font-size: 31px;
  animation-name: swing;
  animation-duration: .8s;
  animation-iteration-count: infinite;
  cursor: pointer;
  transition: all ease 0.25s;
  &:hover{
    fill: $pink;
  }
}