.slider{
  height: 100vh;
  position: relative;
  &__item{
    display: flex;
    height: 100%;
    align-items: center;
  }
  &__title{
    font-size: em(90px);
    line-height: 1;
    color: #fff;
    font-weight: font-weight(medium);
    a{
      display: inline-block;
      border-bottom: em(6px,90px) solid;
      &:hover{
        text-decoration: none;
      }
    }
  }
}

.slider-footer{
  position: absolute;
  bottom: 0;
  z-index: 1;
  left: 0;
  right: 0;
  padding-bottom: 30px;
  .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .social-link{
    float: right;
  }
}
.slider-scroll{
  fill: #fff;
  font-size: 28px;
  animation-name: swing;
  animation-duration: .8s;
  animation-iteration-count: infinite;
  cursor: pointer;
}