.section{
  .stage{
    margin-bottom: -50px;
    @include media('<md'){
      margin-bottom: -30px;
    }
    @include media('<sm'){
      margin-bottom: -20px;
    }
  }
}

.stage{
  display: flex;
  flex-wrap: wrap;
  &__item{
    width: 33.33%;
    position: relative;
    @include media('<lg'){
      width: 50%;
    }
    @include media('<sm'){
      width: 100%;
    }
    &:nth-child(3n + 3){
      .stage__header{
        padding-right: 0;
      }
    }
  }
  &__header{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    padding-right: 60px;
  }
  &__icon{
    margin-right: 20px;
    fill: $pink;
    display: inline-block;
    font-size: 52px;
    line-height: 0;
    @include media('<xs'){
      font-size: 40px;
    }
    @include media('<lg'){
      font-size: 48px;
    }
    > svg{
      display: inline-block;
      vertical-align: middle;
      font-size: 1em;
      height: 1em;
      width: 1em;
      fill: inherit;
      stroke: inherit;
    }
  }
  &__desc{
    padding-right: 60px;
    padding-bottom: 80px;
    @include media('<md'){
      padding-bottom: 60px;
    }
    @include media('<sm'){
      padding-bottom: 40px;
    }
  }
  &__name{
    flex: 1;
  }
  &__title{
    font-weight: font-weight(bold);
    font-size: 1.125rem;
    margin: 0;
  }
  &__number{
    display: block;
    color: $light;
    font-size: 1.25rem;
    line-height: 1.7;
    margin-top: -8px;
  }
  &__decor{
    .step{

    }
  }
}