.mCSB_container > svg,
body > svg {
  height: 0;
  width: 0;
  position: absolute;
  visibility: hidden;
}

.svg-icon {
  display: inline-block;
  vertical-align: middle;
  font-size: 1em;
  height: 1em;
  width: 1em;
  fill: inherit;
  stroke: inherit;
}
//font-size:px;
.icon-analitycs {
  width:(52/52)+em;
}.icon-app-store {
  width:(119.664/40)+em;
}.icon-attach {
  width:(21/11)+em;
}.icon-back {
  width:(22/15)+em;
}.icon-branding {
  width:(52/52)+em;
}.icon-check {
  width:(24/24)+em;
}.icon-chevron-down {
  width:(24/24)+em;
}.icon-chevron-left {
  width:(24/24)+em;
}.icon-chevron-right {
  width:(24/24)+em;
}.icon-chevron-up {
  width:(24/24)+em;
}.icon-close {
  width:(20/20)+em;
}.icon-design {
  width:(52/52)+em;
}.icon-facebook {
  width:(9/17)+em;
}.icon-google-play {
  width:(135/40)+em;
}.icon-html {
  width:(52/52)+em;
}.icon-iphone-x {
  width:(377.9/759.2)+em;
}.icon-logo {
  width:(176/30)+em;
}.icon-logo-circle {
  width:(65/64)+em;
}.icon-logo-light {
  width:(176/30)+em;
}.icon-minus {
  width:(24/24)+em;
}.icon-mobile {
  width:(52/52)+em;
}.icon-motion {
  width:(52/52)+em;
}.icon-mouse {
  width:(22/31)+em;
}.icon-ok {
  width:(11/17)+em;
}.icon-pattern-hive {
  width:(83/48)+em;
}.icon-plus {
  width:(24/24)+em;
}.icon-programming {
  width:(52/52)+em;
}.icon-prototype {
  width:(52/52)+em;
}.icon-twitter {
  width:(24/24)+em;
}.icon-tz {
  width:(52/52)+em;
}.icon-ux {
  width:(52/52)+em;
}.icon-vk {
  width:(18/11)+em;
}.icon-winner {
  width:(168/81)+em;
}
