.mCSB_container > svg,
body > svg {
  height: 0;
  width: 0;
  position: absolute;
  visibility: hidden;
}

.svg-icon {
  display: inline-block;
  vertical-align: middle;
  font-size: 1em;
  height: 1em;
  width: 1em;
  fill: inherit;
  stroke: inherit;
}
//font-size:px;
.icon-check {
  width:(24/24)+em;
}.icon-chevron-down {
  width:(24/24)+em;
}.icon-chevron-left {
  width:(24/24)+em;
}.icon-chevron-right {
  width:(24/24)+em;
}.icon-chevron-up {
  width:(24/24)+em;
}.icon-close {
  width:(20/20)+em;
}.icon-facebook {
  width:(9/17)+em;
}.icon-logo-circle {
  width:(65/64)+em;
}.icon-logo-text {
  width:(264/45)+em;
}.icon-minus {
  width:(24/24)+em;
}.icon-motion {
  width:(48/46)+em;
}.icon-ok {
  width:(11/17)+em;
}.icon-plus {
  width:(24/24)+em;
}.icon-scroll {
  width:(18/27)+em;
}.icon-twitter {
  width:(24/24)+em;
}.icon-vk {
  width:(18/11)+em;
}
