<section class="section fullwidth-bg" style="background-image: url('images/demo/maps.jpg')">
    <div class="container-fluid">
  
      <div class="row no-gutters align-items-center">
        <div class="col-sm-6 col-md-4">
          <h2>Банкоматы,<br>которые всегда<br>рядом</h2>
          <p>В самом начале разработки были продуман пользовательский сценарий приложения. Это позволяет оценить</p>
        </div>
        <div class="col-sm-6 col-md-4 d-flex justify-content-center">
          <img src="images/demo/bankomat.png"
          srcset="images/demo/bankomat@2x.png 2x"
          srcset="images/demo/bankomat@3x.png 3x" alt="Банкоматы, которые всегда рядом">
        </div>
      </div>
  
    </div>
  </section>