<section class="section">
  <div class="container">
    <div class="block align-items-center">
        <div class="block-col-2 flex justify-content-center">
          <img src="images/demo/control.png"
          srcset="images/demo/control@2x.png 2x"
          srcset="images/demo/control@3x.png 3x" alt="Контроль над расходами">
        </div>
        <div class="block-col-1">
          <h2>Контроль над расходами</h2>
          <p>Приложение позволяет устанавливать лимиты на операции в интернете и на снятие наличных в месяц и в день</p>
        </div>
      </div>
  </div>
</section>