<section class="section">
  <div class="container-fluid">

    <div class="media">
      <div class="row no-gutters align-items-center">
        <div class="col-lg-6 col-xl-8 order-1 order-lg-0 text-center text-md-left">
          <div class="media__image animate-to-right">
            <img src="images/demo/dream.png" srcset="images/demo/dream@2x.png 2x, images/demo/dream@3x.png 3x"
              alt="Накопить на мечту">
          </div>
        </div>
        <div class="col-lg-6 col-xl-4">

          <div class="row no-gutters mb-4 mb-md-0">
            <div class="col-md-6 col-lg-12 mb-lg-4">
              <div class="mr-md-5 mr-lg-0 animate-to-right">
                <h2>Накопить на мечту</h2>
                <p>Приложение помагает осуществлять мечту. Достаточно только задать цель, приложение расчитает какую сумму нужно отклажывать, чтобы добиться желаемого</p>
              </div>
            </div>
            <div class="col-md-6 col-lg-12 text-center text-md-left">
              <div class="media__image animate-to-right">
                  <img src="images/demo/dream-icon.png" srcset="images/demo/dream-icon@2x.png 2x, images/demo/dream-icon@3x.png 3x"
                  alt="Иконки накопить на мечту">
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</section>