<section class="section">
  <div class="container">

    <div class="block align-items-center">
      <div class="block-col-2 flex justify-content-center">
        <img src="images/demo/check.png" alt="" class="abs abs-l abs-t" style="transform: translate3d(-66px, -40%, 0)">
        <img src="images/demo/dream.png"
        srcset="images/demo/dream@2x.png 2x"
        srcset="images/demo/dream@3x.png 3x" alt="Накопить на мечту">
      </div>
      <div class="block-col-1">
        <h2>Накопить на мечту</h2>
        <p>Приложение помагает осуществлять мечту. Достаточно только задать цель, приложение расчитает какую сумму нужно отклажывать, чтобы добиться желаемого</p>
        <img src="images/demo/dream-icon.png"
        srcset="images/demo/dream-icon@2x.png 2x"
        srcset="images/demo/dream-icon@3x.png 3x" alt="Иконки накопить на мечту">
      </div>
    </div>

  </div>
</section>