<section class="section">
  <div class="container-fluid">

    <div class="media">
      <div class="row no-gutters align-items-center">
        <div class="col-md-4">
          <div class="animate-to-right">
            <h2>История операций</h2>
            <p>Финансовые операции под контролем. Пользователь в любой момент может узнать, где он расплачивался
              последний раз и сколько потратил на бензин</p>
          </div>
        </div>
        <div class="col-md-8 text-center">
          <div class="media__image animate-to-right">
            <img src="images/demo/history.png" srcset="images/demo/history@2x.png 2x" srcset="images/demo/history@3x.png 3x"
              alt="История операций">
          </div>
        </div>
      </div>
    </div>


  </div>
</section>