<section class="section">
  <div class="container-fluid">

    <div class="media">
      <div class="row no-gutters">
        <div class="col-md-4 text-center">
          <div class="box animate-to-right">
            <div class="media__image animate-to-right">
              <img src="images/demo/q1.png" srcset="images/demo/q1@2x.png 2x" srcset="images/demo/q1@3x.png 3x" alt="Чат">
            </div>
            <div class="media__text text-center animate-to-right">
              <p>Любой вопрос о работе банка клиент банка может получить, написав в чате. Опытный сотрудник банка ответит в кротчайшее время</p>
            </div>

          </div>
        </div>
        <div class="col-md-4 text-center">
          <div class="box animate-to-right">
            <div class="media__image animate-to-right">
              <img src="images/demo/q2.png" srcset="images/demo/q2@2x.png 2x" srcset="images/demo/q2@3x.png 3x" alt="Где ближайший банкомант?">
            </div>
            <div class="media__text text-center animate-to-right">
              <p>Где ближайший банкомант?<br>Информация о банкоматах, отделения всегда под рукой. Подскажем как до него
                дойти</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 text-center">
          <div class="box animate-to-right">
            <div class="media__image animate-to-right">
              <img src="images/demo/q1.png" srcset="images/demo/q1@2x.png 2x" srcset="images/demo/q1@3x.png 3x" alt="Вопросы и ответы">
            </div>
            <div class="media__text text-center animate-to-right">
              <p>Мы выяснили самые популярные вопросы и дали ответ на них в простой, интерактивной форме</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>