<section class="section">
  <div class="container-fluid">
    <div class="row no-gutters">
      <div class="col-lg-4">
        <div class="animate-to-right">
          <h4 class="text-muted">Задача</h4>
        </div>
      </div>
      <div class="col-lg-8 ">
        <div class="animate-angle-left-to-right">
          Разработать мобильное приложение, которое позволяет управлять картами клиента банка, получать информацию об
          операциях и событиях, предоставлять весь спектр необходимых финансовых операций: платежи, переводы,
          использование бонусов и привилегий, а также получать информацию о продуктах банка, точках пополнения и
          задавать вопрос представителю банка через чат
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container-fluid">
    <div class="media">
      <div class="row no-gutters">
        <div class="col-md-6 col-xl-8 order-1 order-md-0">
          <div class="media__image mr-20 animate-fade-in">
            <img src="images/demo/user-flow.png" srcset="images/demo/user-flow@2x.png 2x, images/demo/user-flow@3x.png 3x"
              alt="user flow">
          </div>
        </div>
        <div class="col-md-6 col-xl-4 ">
          <div class="animate-to-right">
            <h2>User Flow</h2>
            <p>Аналитиками и UX-дизайнерами Softlab проработаны сценарии проведения операций Клиентами и созданы соответствующие интерфейсы</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container-fluid">
    <div class="row no-gutters">
      <div class="col-lg-4">
        <div class="animate-to-right">
          <h4 class="text-muted">Аналитика</h4>
        </div>

      </div>
      <div class="col-lg-8">
        <div class="animate-to-right">
          <p>Произведен анализ платежного рынка и анализ использования цифровых сервисов на местном рынке</p>
          <p>Выявлен ряд тенденций и показателей, отражающий общемировой тренд на увеличение доли использования
            мобильных устройств при работе в цифровых сервисах</p>
        </div>

      </div>
    </div>
  </div>
</section>