<section class="section">
  <div class="container">
    <div class="block align-items-center">
        <div class="block-col-1">
          <h2>Переводы</h2>
          <p>Переводы в три клика. Между своими счетами, на карту в другой банк, по номеру телефона, по QR-коду и по номеру договора</p>
        </div>
        <div class="block-col-2 flex justify-content-center">
          <img src="images/demo/transfer.png"
          srcset="images/demo/transfer@2x.png 2x"
          srcset="images/demo/transfer@3x.png 3x" alt="Переводы">
        </div>
      </div>
  </div>
</section>