{% extends "extends/_base.html" %}

{% block content %}

<style>:root{ --custom-color: #ffb200; --section-text-color: #FFFFFF; --shadow-color-images: rgba(216,151,0,0.6); }</style>
<!-- begin main -->
<main class="main" role="main">
  {% include "templates/_intro.html" %}
  <div class="main__content">

    {% include "templates/_lines.html" %}
    {% include "templates/_pluses.html" %}


    {% include "templates/site/_task.html" %}
    {% include "templates/identity/_gallery.html" %}

    {% include "templates/_main-footer.html" %}

  </div>
</main>
<!-- end main -->
{% endblock %}