{% extends "extends/_base.html" %}

{% block content %}

<!-- begin main -->
<main class="main" role="main">
  {% include "templates/_slider.html" %}
  <div class="main__content">

      {% include "templates/_lines.html" %}
      {% include "templates/_pluses.html" %}

      <div class="container">
        {% include './templates/_intro.html' %}
      </div>
      {% include './templates/_awards.html' %}
      <div class="container">
        {% include './templates/_cases.html' %}
      </div>

  </div>
</main>
<!-- end main -->
{% endblock %}
