{% extends "extends/_base.html" %}

{% block content %}
{% include "templates/_slider.html" %}
<!-- begin main -->
<main class="main" role="main">
  {% include "templates/_lines.html" %}

  <div class="container">

    <h1>Softlab – студия креативных решений для вашего бренда</h1>

    {% for i in range(0, 20) -%}
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum hic ipsam fugiat nulla, atque laborum dolore repudiandae sunt earum optio dolores quibusdam exercitationem mollitia nostrum reiciendis incidunt eveniet possimus dolorem?</p>
    {%- endfor %}


  </div>
</main>
<aside role="complementary">

</aside>
<!-- end main -->
{% endblock %}
