{% extends "extends/_base.html" %}

{% block content %}

<!-- begin main -->
<main class="main" role="main">
  {% include "templates/_slider.html" %}

  <div class="main__content">
      {% include "templates/_lines.html" %}


      <div class="container">

        <div class="content">
          
          <section class="section intro">
            <h1>Softlab – студия креативных решений для вашего бренда</h1>
            <p class="lead">Проектируем и разрабатываем дизайн сайтов и мобильных приложений для эффективного продвижения ваших продуктов</p>
            <p>Сюда необходим хорошенький текст, описывающий наши лучшие стороны. Сюда необходим хорошенький текст, описывающий наши лучшие стороны. Сюда необходим хорошенький текст, описывающий наши лучшие стороны. Сюда необходим хорошенький текст, описывающий наши лучшие стороны. Сюда необходим хорошенький текст, описывающий наши лучшие стороны.</p>
            <p>Сюда необходим хорошенький текст, описывающий наши лучшие стороны. Сюда необходим хорошенький текст, описывающий наши лучшие стороны.</p>
          </section>

        </div>

        <aside class="sidebar">

        </aside>

      </div>

  </div>
</main>

<!-- end main -->
{% endblock %}
