<section class="section text-center">
  <div class="container-fluid">
    <h2><span class="animate-to-top">Создано более 100 макетов</span></h2>
    <div class="mb-4 animate-to-top">
      <p>для оформления печатной продукции — реклама,<br>банковские карты, визитки, бланки, конверты,<br>папки и многое другое.</p>
    </div>
    <div class="gallery">
      <div class="gallery__row">
        <div class="gallery__item">
          <img src="images/demo/gallery-1.jpg" alt="">
        </div>
        <div class="gallery__item">
          <img src="images/demo/gallery-2.jpg" alt="">
        </div>
      </div>
      <div class="gallery__row">
        <div class="gallery__item">
          <img src="images/demo/gallery-7.jpg" alt="">
        </div>
      </div>
      <div class="gallery__row">
        <div class="gallery__item">
          <img src="images/demo/gallery-8.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>